# Welcome to this Kernel For Assignement

<a id='table_of_contents'></a>
# Table of contents

[1. How to create a series from a list, numpy array and dict?](#q1)

[2. How to combine many series to form a dataframe?](#q2)

[3. How to get the items of series A not present in series B?](#q3)

[4. How to get the items not common to both series A and series B?](#q4)

[5. How to get useful infos](#q5)

[6. How to get frequency counts of unique items of a series?](#q6)

[7. How to convert a numpy array to a dataframe of given shape? (L1)](#q7)

[8. How to find the positions of numbers that are multiples of 3 from a series?](#q8)

[9. How to extract items at given positions from a series?](#q9)

[10. How to stack two series vertically and horizontally ?](#q10)

[11. How to get the positions of items of series A in another series B?](#q11)

[12. How to compute difference of differences between consequtive numbers of a series?](#q12)

[13. How to convert a series of date-strings to a timeseries?](#q13)

[14. How to filter words that contain atleast 2 vowels from a series?](#q14)

[15. How to replace missing spaces in a string with the least frequent character?](#q15)

[16. How to change column values when importing csv to a dataframe?](#q16)

[17. How to import only specified columns from a csv file?](#q17)

[18. How to check if a dataframe has any missing values?](#q18)

[19. How to replace missing values of multiple numeric columns with the mean?](#q19)

[20. How to change the order of columns of a dataframe?](#q20)

[21. How to filter every nth row in a dataframe?](#q21)

[22. How to get the last n rows of a dataframe with row sum > 100?](#q22)

[23. How to find and cap outliers from a series or dataframe column?](#q23)

[24. How to reverse the rows of a dataframe?](#q24)

In [ ]:
# Allow several prints in one cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd

# Pandas exercise

<a id = 'q1'></a>

**1. How to create a series from a list, numpy array and dict?**

Create a pandas series from each of the items below: a list, numpy and a dictionary

[Go back to the table of contents](#table_of_contents)

In [ ]:
# Input
import numpy as np
a_list = list("abcdefg")
numpy_array = np.arange(1, 10)
dictionary = {"A":  0, "B":1, "C":2, "D":3, "E":5}

<a id = 'q2'></a>
**2. How to combine many series to form a dataframe?**

Combine ser1 and ser2 to form a dataframe.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

<a id = 'q3'></a>
**3. How to get the items of series A not present in series B?**

Get all items of ser1 and ser2 not common to both.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
ser1 = pd.Series([1, 2, 3,23, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

<a id = 'q4'></a>
**4. How to get the items not common to both series A and series B?**

Get all items of ser1 and ser2 not common to both.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

<a id = 'q5'></a>
**5. How to get useful infos**

Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

In [ ]:
import matplotlib.pyplot as plt

<a id = 'q6'></a>
**6. How to get frequency counts of unique items of a series?**

Calculate the frequency counts of each unique value ser.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(5, size=30)))

<a id = 'q7'></a>
**7. How to convert a numpy array to a dataframe of given shape? (L1)**

Reshape the series ser into a dataframe with 7 rows and 5 columns

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
ser = pd.Series(np.random.randint(1, 10, 35))
ser

0     3
1     6
2     5
3     6
4     3
5     5
6     9
7     6
8     2
9     1
10    8
11    2
12    8
13    8
14    7
15    1
16    1
17    3
18    1
19    4
20    3
21    9
22    6
23    9
24    7
25    4
26    8
27    7
28    4
29    6
30    5
31    6
32    9
33    1
34    2
dtype: int64

<a id = 'q8'></a>
**8. How to find the positions of numbers that are multiples of 3 from a series?**

Find the positions of numbers that are multiples of 3 from ser.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, 10))
ser

RandomState(MT19937) at 0x7F8D0895DEB8

0    2
1    3
2    4
3    4
4    3
5    3
6    3
7    3
8    3
9    4
dtype: int64

<a id = 'q9'></a>
**9. How to extract items at given positions from a series**

From ser, extract the items at positions in list pos.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

<a id = 'q10'></a>

**10. How to stack two series vertically and horizontally ?**

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

<a id = 'q11'></a>
**11. How to get the positions of items of series A in another series B?**

Get the positions of items of ser2 in ser1 as a list.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

<a id = 'q12'></a>
**12. How to compute difference of differences between consequtive numbers of a series?**

Difference of differences between the consequtive numbers of ser.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

# Desired Output
# [nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
# [nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

<a id = 'q13'></a>

**13. How to convert a series of date-strings to a timeseries?**

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])


'''
Desired Output

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
'''

'\nDesired Output\n\n0   2010-01-01 00:00:00\n1   2011-02-02 00:00:00\n2   2012-03-03 00:00:00\n3   2013-04-04 00:00:00\n4   2014-05-05 00:00:00\n5   2015-06-06 12:20:00\n'

<a id = 'q14'></a>

**14. How to filter words that contain atleast 2 vowels from a series?**

From ser, extract words that contain atleast 2 vowels.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

'''
Desired Output


0     Apple
1    Orange
4     Money
dtype: object
'''

'\nDesired Output\n\n\n0     Apple\n1    Orange\n4     Money\ndtype: object\n'

<a id = 'q15'></a>

**15. How to replace missing spaces in a string with the least frequent character?**

Replace the spaces in my_str with the least frequent character.

[Go back to the table of contents](#table_of_contents)

In [ ]:
# input
my_str = 'dbc deb abed ggade'

'''
Desired Output

'dbccdebcabedcggade'  # least frequent is 'c'
'''

"\nDesired Output\n\n'dbccdebcabedcggade'  # least frequent is 'c'\n"

# **THE END**