In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [4]:
german = pd.read_csv("/content/drive/MyDrive/Raw Data/german_credit.csv")

In [5]:
german

,Creditability,Account Balance,Duration of Credit (month),Payment Status of Previous Credit,Purpose,Credit Amount,Value Savings/Stocks,Length of current employment,Instalment per cent,Sex & Marital Status,...,Duration in Current address,Most valuable available asset,Age (years),Concurrent Credits,Type of apartment,No of Credits at this Bank,Occupation,No of dependents,Telephone,Foreign Worker
0,1,1,18,4,2,1049,1,2,4,2,...,4,2,21,3,1,1,3,1,1,1
1,1,1,9,4,0,2799,1,3,2,3,...,2,1,36,3,1,2,3,2,1,1
2,1,2,12,2,9,841,2,4,2,2,...,4,1,23,3,1,1,2,1,1,1
3,1,1,12,4,0,2122,1,3,3,3,...,2,1,39,3,1,2,2,2,1,2
4,1,1,12,4,0,2171,1,3,4,3,...,4,2,38,1,2,2,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,1,24,2,3,1987,1,3,2,3,...,4,1,21,3,1,1,2,2,1,1
996,0,1,24,2,0,2303,1,5,4,3,...,1,1,45,3,2,1,3,1,1,1
997,0,4,21,4,0,12680,5,5,4,3,...,4,4,30,3,3,1,4,1,2,1
998,0,2,12,2,3,6468,5,1,2,3,...,1,4,52,3,2,1,4,1,2,1
999,0,1,30,2,2,6350,5,5,4,3,...,4,2,31,3,2,1,3,1,1,1

In [7]:
# Select all columns except the first one
selected_columns = german.iloc[:, 1:]

# Display the result
print(selected_columns)

     Account Balance  Duration of Credit (month)  \
0                  1                          18
1                  1                           9
2                  2                          12
3                  1                          12
4                  1                          12
..               ...                         ...
995                1                          24
996                1                          24
997                4                          21
998                2                          12
999                1                          30

     Payment Status of Previous Credit  Purpose  Credit Amount  \
0                                    4        2           1049
1                                    4        0           2799
2                                    2        9            841
3                                    4        0           2122
4                                    4        0           2171
..                                 ...      ...            ...
995                                  2        3           1987
996                                  2        0           2303
997                                  4        0          12680
998                                  2        3           6468
999                                  2        2           6350

     Value Savings/Stocks  Length of current employment  Instalment per cent  \
0                       1                             2                    4
1                       1                             3                    2
2                       2                             4                    2
3                       1                             3                    3
4                       1                             3                    4
..                    ...                           ...                  ...
995                     1                             3                    2
996                     1                             5                    4
997                     5                             5                    4
998                     5                             1                    2
999                     5                             5                    4

     Sex & Marital Status  Guarantors  Duration in Current address  \
0                       2           1                            4
1                       3           1                            2
2                       2           1                            4
3                       3           1                            2
4                       3           1                            4
..                    ...         ...                          ...
995                     3           1                            4
996                     3           2                            1
997                     3           1                            4
998                     3           1                            1
999                     3           1                            4

     Most valuable available asset  Age (years)  Concurrent Credits  \
0                                2           21                   3
1                                1           36                   3
2                                1           23                   3
3                                1           39                   3
4                                2           38                   1
..                             ...          ...                 ...
995                              1           21                   3
996                              1           45                   3
997                              4           30                   3
998                              4           52                   3
999                              2           31                   3

     Type of apartment  No of Credits at this Bank  Occupation  \
0                    1                           1           3
1                    1                           2           3
2                    1                           1           2
3                    1                           2           2
4                    2                           2           2
..                 ...                         ...         ...
995                  1                           1           2
996                  2                           1           3
997                  3                           1           4
998                  2                           1           4
999                  2                           1           3

     No of dependents  Telephone  Foreign Worker
0                   1          1               1
1                   2          1               1
2                   1          1               1
3                   2          1               2
4                   1          1               2
..                ...        ...             ...
995                 2          1               1
996                 1          1               1
997                 1          2               1
998                 1          2               1
999                 1          1               1

[1000 rows x 20 columns]

In [8]:
label=german[['Creditability']]
label

     Creditability
0                1
1                1
2                1
3                1
4                1
..             ...
995              0
996              0
997              0
998              0
999              0

[1000 rows x 1 columns]

In [9]:
german[['Creditability']].isna().sum()

Creditability    0
dtype: int64

In [10]:
iris['Creditability'].nunique()

2

In [11]:
#split dataset in features and target variable

X = selected_columns # Features
y = label # Target variable

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3, random_state=1)

In [13]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()
# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)
#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [15]:
# Let the user input new values for prediction
user_input = []
for feature in selected_columns:
    value = float(input(f"Enter the value for {feature}: "))
    user_input.append(value)
2
# Reshape the input to match the model's expectations
user_input = [user_input]

# Make a prediction on the user's input
prediction = clf.predict(user_input)
print(f"Predicted Outcome: {prediction[0]}")

Enter the value for Account Balance: 12
Enter the value for Duration of Credit (month): 23
Enter the value for Payment Status of Previous Credit: 23
Enter the value for Purpose: 12
Enter the value for Credit Amount: 23
Enter the value for Value Savings/Stocks: 12
Enter the value for Length of current employment: 23
Enter the value for Instalment per cent: 12
Enter the value for Sex & Marital Status: 23
Enter the value for Guarantors: 1
Enter the value for Duration in Current address: 12
Enter the value for Most valuable available asset: 12
Enter the value for Age (years): 12
Enter the value for Concurrent Credits: 12
Enter the value for Type of apartment: 12
Enter the value for No of Credits at this Bank: 12
Enter the value for Occupation: 12
Enter the value for No of dependents: 12
Enter the value for Telephone: 23
Enter the value for Foreign Worker: 12
Predicted Outcome: 0

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(